*{
    box-sizing: border-box;
    font-family: Ubuntu; 
}
.orange{
    background-color: rgb(255, 68, 0);
    color: white;
}
ul li a{
    color: white;
	font-family: Ubuntu; 
    font-size: 21px;
}
#singOutBtnWrapper{
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-top: 47px;
}
#singOutBtn{
    border: 1px solid black;
    color: white;
    background-color: transparent;
}
fa{
    font-size: 32px;
}
#bars{
    visibility: hidden;
}
#singOutBtn{
    position: absolute;
    right: 0;
    margin-top: -44px; 
}
@media screen and (max-width: 590px) {
    #bars{
        visibility: visible;
        text-align: right;
        width: 100%;
    }
    #menuItems{
        width: 100%;
    }
    #singOutBtn{
        position: relative;
        text-align: left
    }

}