<nav class="navbar navbar-expand-sm navbar-dark orange d-flex justify-content-center " (window:resize)="onResize($event)" id="navbar">
  <div id="bars">
    <fa name="bars" (click)="animate()"></fa>
  </div>
  <div id="menuItems" #menuWrapper [@divState]="state">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="" (click)="hide()">Početna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/orders"  (click)="hide()">Porudzbine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/crud" *ngIf="status" (click)="hide()">Crud</a>
      </li>
      <li>
        <div id="singOutBtnWrapper">
          <button class="btn" (click)="singout()" id="singOutBtn">Odjavi se</button>
        </div>
      </li>
      <li>
        <div id="cartWrapper" class="row">
          <fa name="shopping-cart" animation="slow" routerLink="/carth" (click)="hide()"></fa>
          <p>{{number}}</p>
        </div>
      </li>
    </ul>
  </div>

</nav>