*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.orange{
    background-color: rgb(255, 68, 0);
    color: white;
}
ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}
#singOutBtnWrapper{
    position: absolute;
    right: 0;
    margin-right: 3%;
}
#singOutBtn{
    border: 1px solid black;
    color: white;
    background-color: transparent;
}
@media only screen and (max-width: 600px) {
    
} 