
.row{
    margin-right: 0px;
    
}
.icon-food{
    position: absolute;
}
img{
    width: 100px;
    height: 100px;
}
#imageWrapper{
    text-align: center;
}
#alert{
    margin-top: 20px;
}
.hide{
    display: none;
}
.show{
    display: inline;
}
label{
    font-family: 'Allan', Helvetica, Arial, sans-serif;
}
div{
    font-family: 'Allan', Helvetica, Arial, sans-serif;
}
form{
    width: 200px;
}

@media (max-width:480px)  {
    #formWrapper{
        text-align: center;
        margin-left: 0px;
        margin-top: 25%;
    }
}