.container{
    margin-top: 3%;
}
p{
    display: none;
}
h2{
    margin:20px 10px 0px 10px; 
}
table{
    margin-bottom: 300px
}
#tableHeader{
    width: 100%;
    color: white;
    background-color: rgb(255, 68, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -5px;
}
#btnWrapper{
    text-align: center;
    margin: 5px 5px;
    padding-bottom: 8px;
    padding-right: 12px;
}
#formWrapper{
    width: 100%;
}
#today{
    margin-right: 5px;
}
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color:000;
  }
  .fa-twitter{
      color: #027bdd;
    font-size: 30px;
    margin: 20px;
  }
  @-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
#angle{
    font-size: 28px;
}

#today{
    margin-top: 10px;
}
#formWrapper{
    width: 100%;
}
#result{
    margin-top: 1px;
    position: absolute;
    background-color: white;
    border-radius: 2px;
    z-index: 1;
    width: 150px;
    overflow: hidden;
    text-align: left;
}
#result ul{

    color: black;
}
li{
    list-style-type: none;
    margin-left: -30px;
}
th{
    vertical-align: top;
}
ul{
    margin-bottom: 1px;
}
#searchBtn{
    cursor: pointer;
}
li:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
#search{
    text-align: right;
    font-size: 20px;
    position: absolute;
    margin-top: -3px;
    margin-left: 25px;
}
#search:hover{
    cursor: pointer;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}
#header th{
vertical-align: top; 
}