*{
    box-sizing: border-box;
}
.seen{
	background-color: lightgray;
}
.new{
	background-color: lightgreen;
}
.center {
    position: absolute;
    width: 1000px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 50px !important;
}
#todayWrapper{
	height: 35px;
	/* width: 150px; */
}
p{
    display: none;
}
h2{
    margin:20px 10px 0px 10px; 
}
#number{
	position: relative;
	z-index: 54;
}
#tableWrapper{
	overflow-x: scroll;
}
#inputText{
	width: 100%;
}
#tableHeader{
	margin-top: 30px;
    width: 100%;
    color: white;
    background-color: rgb(255, 68, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -5px;
}
#btnWrapper{

    text-align: center;
    margin: 5px 5px;
    margin-top: 80px
}
#closeOrders{
	right: 0;
	border: 2px solid white;
	width: 210px;
}
#allToday{
	border: 2px solid white;
	width: 210px;	
}
#todayOrdBtn{
	border: 2px solid white;
	width: 210px;
}
#userSelect{
	width: 15px;
	height: 15px;
}
.dropdown-item.active, .dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: white;
}
#users li{
	margin-left: -20px;
}
#today{
    margin-right: 5px;
}
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color:000;
  }
  .fa-twitter{
      color: #027bdd;
    font-size: 30px;
    margin: 20px;
  }
  @-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
#angle{
    font-size: 28px;
}
#angle:hover{
    cursor: pointer;
}
#today{
    margin-top: 10px;
}
#angleSelector{
    font-size: 25px
}
#angleSelector:hover{
    cursor: pointer;
}
#result{
    border: 1px solid gray;
    margin-top: 1px;
    position: absolute;
    background-color: white;
    border-radius: 2px;
    z-index: 50;
    width: 310px;
    overflow: hidden;
    text-align: left;
    visibility: visible;
}
#result ul{
    
    margin-bottom: 0px;
    
    color: black;
}
/* li{
    list-style-type: none;
    margin-left: -40px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
} */
th{
    vertical-align: top;
}
/* ul{
    margin-bottom: 1px;
} */
#searchBtn{
    cursor: pointer;
}
/* li:hover{
    background-color: #d9d9d9;
    color: black;
    cursor: pointer;
} */
#search{
    text-align: right;
    font-size: 20px;
    position: absolute;
    margin-top: -3px;
    margin-left: 25px;
}
#search:hover{
    cursor: pointer;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}
#header th{
vertical-align: top;
}
#todaySubmit{
	margin-top: 10px !important;
    position: relative;
    margin: 0 auto;
}
#toDate{
    margin-left: 10px;
}
#userSubmit{
    margin-top: 10px;
    margin-bottom: 10px;
}
#moreBtn{
    color: white;
}
#moreBtnText{
    display: inline;
}
#moreWrapper{
    position: absolute;
    right: 0;
    width: 150px;
    margin-top: 10px;
    margin-right: 10px;
}
#singleDate{
    margin-top: 10px;
}
#fromDate{
	width: 185px;
}
#toDate {
    width: 185px;
}
#users{
	height: 200px;
	overflow-y: scroll;
}
#todayWrapper div:nth-child(2){
	text-align: center;
}
#todayWrapper div:nth-child(3){
	text-align: center;
}
#todayWrapper div:nth-child(4){
	text-align: center;
}
#printWrapper{
	width: 100%;
	text-align: right;
}
#print{
	margin-left: 5px;
	font-size: 25px;
}
#printBtn{
	font-size: 18px;
	height: 50px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
@media print {
	body * {
		visibility: hidden;
	  }
	  app-header{
		  visibility: hidden;
	  }
	  #more{
		  visibility: hidden;
	  }
	  nav{
		  position: relative;
		  visibility: hidden !important;
	  }
	  #stablePrint, #tablePrint * {
		visibility: visible;
	  }
	  #tablePrint {
		position: absolute;
		left: 0;
		top: 0;
	  }
	  #printBtn{
		  visibility: hidden;
	  }
	  #btnWrapper{
		  visibility: hidden;
	  }
	  *{
		  overflow-y: none;
	  }
	  #searchInput{
		visibility: hidden !important;
	  }
	  #searchName{
		visibility: hidden !important; 
	  }
}
@media only screen and (max-width: 1001px) {
    .center{
        position: absolute;
        width: 100%;
        padding: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 50px !important;
    }
}
@media only screen and (max-width: 780px) {
	#todayOrdBtn{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 780px) {
	table{
		overflow: scroll;
	}
    #toDate {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }
    #fromDate{
        width: 100%;
    }
    #todaySubmit{
        margin-top: 69px !important; 
		position: absolute;
		margin-left: 0px !important;
    }
    #multyForm {
        width: 100% !important;
    }
    .divWidth{
       width: 100%;
    }
    #btnWrapper{
        text-align: center;
		margin: 5px 5px;
		margin-top: 175px !important;
    }
    #moreWrapper{
        margin-top: 103px;
        margin-right: 24px
    }
    #userSubmit{
        position: absolute;
        left: 0;
        margin-top: 55px;
        margin-left: 25px;
	}
	#todayWrapper{
		width: 100%;
		text-align: center;
	}
	#closeOrders{
		margin-top: 10px;
	}
	#allToday{
		margin-top: 10px;
	}
}
#dateButtons{
	width: 100%;
	border: 1px solid white;
}
#multyForm {
    margin: auto;
    width: 400px;
    padding: 10px;
}
#exit{
    position: absolute;
    right: 0;
    margin-top: -2px;
    margin-right: 20px;
    font-size: 20px;
}
#exit:hover{
    cursor: pointer;
}
#advanced{
    margin-top: 10px;
}
.windows8 {
	position: relative;
	width: 78px;
	height:78px;
	margin:auto;
}
#searchH:hover{
	cursor: pointer;
}
.windows8 .wBall {
	position: absolute;
	width: 74px;
	height: 74px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgb(255, 68, 0);
	left:0px;
	top:0px;
	border-radius: 10px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}
.windows8{
    margin-top: 50px;
}
