<div class="container">
    <div id="tableHeader">
        <h2>Porudzbine</h2>
        <p #d>{{date | date: 'yyyy-MM-dd'}}</p>
        <div id="btnWrapper"><button class="btn btn-success" (click)="today(d)" id="today">Današnje porudzbine</button>
        <button class="btn btn-success" (click)="all()" id="today">Sve porudzbine</button>
    </div>
    </div>
    <table border="1px solid black" class="table table-striped"
    infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">
        <thead>
            <tr>
                <th>Broj porudzbine</th>
                <th>Ime klijenta</th>
                <th>Jelo</th>
                <th>Količina jela</th>
                <th>Datum narudzbine</th>
            </tr>
        </thead>
        <tr *ngFor="let meal of data">
            <td>{{ meal.id }}</td>
            <td>{{ meal.name }}({{meal.user}})</td>
            <td>{{ meal.mealName }}</td>
            <td>{{ meal.amount}} {{ meal.type }}</td>
            <td>{{ meal.date }}</td>
        </tr>
    </table>
</div>