
*{
    font-family: Ubuntu; 
}
li{
    list-style-type: none;
    display: inline;
    font-size: 18px;
}

ul:first-child{
    padding-top: 25px;
}
ul{
    padding-left: 0px;
}
#list{
    margin-right: 0; 
}

#alertWrapper{
    position: absolute;
    bottom: 0;
}


#mealWrapper{

    height: 101px;
    border: 1px solid rgb(255, 68, 0);
    border-radius: 2px;
    width: 860px;
}
#mealWrapper > img{
    height: 100px;
    width: 100px;
}
.orange{
    background-color: rgb(255, 68, 0);
    color: white;
}
#dropDown{
    margin-top: -35px;  
    text-align: right;  
}
#dropDown li{
    margin-right: 5px;
}

#wrapper{
    margin-top: -75px; 
    margin-left: 105px;
    border-bottom: 2px dotted rgb(255, 68, 0);
    height: 25px;
}
#wrapper{
    margin-right: 60px; 
}
#orderToggle{
    width: 50px;
    height: 45px;
}
#exitWrapper{
    text-align: right;
}
#hideDrop{
    position: absolute;
    margin-top: -5px;   
    right: 0;
    font-size: 25px;
}
span > p{
    margin-top: 25px;
}
#alertWtapper{
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -40%;
    z-index: 100;
}