*{
    font-family: Ubuntu; 
}
.row{
    margin-top: 120px;
}

a > .card > img{
    height: 70%;
}
.card{
    height: 100%;
    border: 1px solid darkgray;
    transition: ease 0.3s;
}
div:nth-child(3){
    margin-right: 10px;
    margin-left: 10px;
}
div:nth-child(1){
    margin-right: 10px;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color : black;
    font-family: 'Allan', Helvetica, Arial, sans-serif;
}
.card-body{
    margin-left: -1px;
    width: 200px;
    background-color: rgb(255, 68, 0);
    color: white;   
}
.col{
    margin-left: 0px; 
}

#wrapper{   
    height: 100%;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
#outletWrapperr{
    width: 100%;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0.5px) translateZ(0);
    transform: perspective(0.5px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
    cursor: pointer;  
}
@media screen and (max-width: 590px) {
    #wrapper{
        margin-top: 70px;
    }
    #first{
        margin-bottom: 30px;
    }
    #first img{
        display: none;
    }
}

@media screen and (max-width: 1756px) {
    a:nth-child(1){
        float: right;
        text-align: center;
        border: 1px solid purple;
        break-after: always;
    }
    a:nth-child(2){
        float: right;
        border: 1px solid purple;
        text-align: center;
        break-after: always;
    }
    a:nth-child(3){
        float: right;
        border: 1px solid purple;
        text-align: center;
        break-after: always;
    }
    a:nth-child(4)::after{
        display: block;
        white-space: pre;
    
    }
    a:nth-child(5){
        break-after: page;
        text-align: center;
        border: 1px solid purple;
    }
    a:nth-child(6){
        border: 1px solid purple;
        text-align: center;
    }
    a:nth-child(7){
        border: 1px solid purple;
        text-align: center;
    }
    a:nth-child(8){
        border: 1px solid purple;
        text-align: center;
    }
}