<div class="d-flex justify-content-center" id="wrapper" [@categories]="state">
    <a #items id="first" *ngFor="let category of categories" (click)="getByCategory(category.category_id, outlet, now)" #body>
      <div id="card" class="card hvr-grow inactive" style="width:200px" #now>
        <img class="card-img-top " src="{{category.link}}" alt="Card image" id="mealImg">
        <div class="card-body" >
          <h5 class="card-title">{{category.name}}</h5>
        </div>
      </div>
    </a>
  <div id="outletWrapperr" #outlet>
    <router-outlet></router-outlet>
  </div>
</div>