#crudWrapper{
    position: absolute;
    padding: 10px;
    left: 0;
    right: 0;
    margin-top: 50px !important;
}
fa{
    font-size: 28px;
}
#edit{
    color: rgb(30,144,255);
}

#delete{
    color: red;
    position: relative; 
    margin-top: -10px;
    margin-left: 10px; 
}
#confirm{
    color: green;
}

#tableHeader{
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    margin-top: 20px;
    height: 100px;
    background-color: rgb(255, 68, 0);
    text-align: right;
}
#tableHeader button:first-of-type{
    margin-top: 52px;
    margin-right: 10px;
    background-color:rgb(50,205,50);
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
}
#addMeal{
    font-size: 17px;
    margin-right: 5px;
}

#heading{
    font-size: 25px;
    position: absolute;
    color: white;
    margin: 20px 5px 
}

 td{
    display:table-cell;
    max-width: 480px;
    text-align: center
}
th{
    display:table-cell;
    max-width: 200px;
} 
thead tr th{
    vertical-align: top;
    text-align: center;
}
td{
    word-wrap:break-word
}
@media only screen and (max-width: 1001px) {
    #crudWrapper {
        position: absolute;
        
        padding: 10px;
        left: 0;
        right: 0;
        margin-top: 50px !important;
    }
    #tableWrapper{
        overflow-x: scroll;
    }
    th{
        vertical-align: top;
    }
    #delete{
        margin-left: -1px;
    }
}
@media only screen and (max-width: 768px){

}
#delMealName{
    font-size: 20px;
}
#angle{
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal-header{
    background-color: rgb(255, 68, 0);
    color: white;
}
#angle:hover{
    cursor: pointer;
    
}