<div class="container">
  <div id="tableHeader">
    <h2 id="heading">Upravljanje menijem</h2>
    <button (click)="addMeal()">
      <fa name="plus" id="addMeal"></fa>Dodaj jelo</button>
  </div>
  <table class="table table striped">
    <thead>
      <tr>
        <th>
          Naizv jela
        </th>
        <th>
          Cena jela
        </th>
        <th>
          Kategorija
        </th>
        <th>
          URL slike
        </th>
        <th id="akcija">
          Akcija
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="addNewMeal" id="newMeal">
        <td>
          <input type="text" ngModel class="form-control" name="mealName" #name>
        </td>
        <td>
          <input type="number" ngModel class="form-control" name="mealPrice" #price>
        </td>
        <td>
          <select name="category" ngModely class="form-control" name="mealCategory" #category>
            <option value="glavno jelo">Glavno jelo</option>
            <option value="predjelo">Predjelo</option>
            <option value="salata">Salata</option>
            <option value="desert">Desert</option>
          </select>
        </td>
        <td>
          <input type="text" #newUrl class="form-control" name="mealUrl" #url>
          <td>
            <fa name="check" id="hideDrop" id="confirm" (click)="newMealData(name, price, category, url)"></fa>
          </td>
      </tr>
      <tr *ngFor="let meal of data" selectedRow>
        <td>
          <input #n [hidden]="edit" type="text" name="mealName" value="{{meal.naziv}}">
          <span #na>{{meal.naziv}}</span>
        </td>
        <td>
          <input #p [hidden]="edit" type="text" name="mealName" value="{{meal.cena}}">
          <span #pr>{{meal.cena}}din</span>
        </td>
        <td>
          <select #c [hidden]="edit" name="category" name="mealCategory">
              <option value="we" ></option>
            </select>
          <span #co>:D</span>
        </td>
        <td>
          <input #url [hidden]="edit" type="text" name="mealName" value="{{meal.url}}">
          <span>:D</span>
        </td>
        <td>
          <fa name="check" id="hideDrop" id="confirm" *ngIf="confirmBtn" (click)="confirm(n, p, c, na, pr, co, url)" ></fa>
          <fa name="edit" id="hideDrop" id="edit" (click)="editMeal(n, p, c, na, pr, co, confirm)" *ngIf="editBtn"></fa>
          <fa name="trash" id="hideDrop" id="delete"  *ngIf="deleteBtn"></fa>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngFor="let da of newData">
    <p>{{da}}</p>
  </div>
</div>