*{
    box-sizing: border-box;
}
#tableWrapper{
    height: 500px;
    min-width: 400px;
}
.scrol{
    display: block;
    max-height: 500px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
thead{
    position: sticky;
}
img{
    padding-left: 5px;
    width: 120px;
    height: 80px;
}
#name{
    padding-left: 5px;
}
#tableActions{
    width: 100%;
    text-align: right;
}
form thead th{
    width: 400px;
}
#delete:hover{
    color: red;
}
#submit:hover{
    color: green;
}
#delete{
    font-size: 25px
}
#submit{
    font-size: 25px
}
#input:invalid{
    border-color: red;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}
thead{
    background-color: rgb(255, 68, 0);
    color: white;
    text-align: center;
}
tbody{
    text-align: center;
}
#singleOrderWrapper{
    background-color: lightgray;
    /* border: 1px solid gray; */
    margin-bottom: 20px;
    position: relative;
    opacity: 0.8;
}

td{
    padding: 0px 0px;
}
#singleOrderWrapper:hover{
    opacity: 1
}
#imageWrapper{
    margin-left: 0px;
}
#submitButton{
    margin-right: 20px;
}
#actions{
    text-align: center;
}
#input{
    margin-top: 25px;
}
.hvr-grow{
    margin-top: 20px;
}
#tableBody{
    overflow-x: auto;
}
@media screen and (max-width: 590px) {
    #tableBody{
        overflow-x: auto;
    }
}