<div class="container">
  <h3>Korpa</h3>
  <div id="tableWrapper" class="scrol" style="margin-top: 50px">
    <table class="table">
        <form>
        <thead>
          <tr>
            <th>Jelo</th>
            <th>Količina</th>
            <th>Akcija</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of menu$;let i = index" id="tableBody">
          <tr #element id="singleOrderWrapper" >
            <td>
              <div id="imageWrapper" class="row">
                <div>
                    <img src="{{item.link}}" alt="img">
                </div>
                <div>
                    <p #name>{{item.info}}</p>
                </div>
              </div>
            </td>
            <td id="inputWrapper">
              <input id="input"  type="number" value="{{item.amount}}" #amount (click)="showConfirm(actions)" size="2" class="form-control">
            </td>
            <td #actions id="actions">
              <fa class="hvr-grow " [hidden]="!show" name="check"id="submit" (click)="getIt({position : i,name: item.info, id: item.id, amount: amount.value, piece: item.piece})"></fa>
              <fa class="hvr-grow " name="times" id="delete" (click)="emptyItem(i, element)"></fa>
            </td>
          </tr>    
        </tbody>
        <div id="tableActions">
            <p>Ukupna cena:</p>
            <p id="wholePrice"></p>
            <button id="submitButton" class="btn btn-primary" type="submit" (click)="submit(menu$)">Poruči</button>
          </div>
      </form>
    </table>

  </div>
</div>