
<div class="container">
  <h3>Korpa</h3>

  <div id="tableWrapper" class="scrol" style="margin-top: 50px">
      <form #user="ngForm" (ngSubmit)="submit(menu$)">
    <table class="table">
      
       
        <thead>
          <tr>
            <th>Jelo</th>
            <th>Količina</th>
            <th>Akcija</th>
          </tr>
        </thead>
       
        <tbody *ngFor="let item of menu$;let i = index" id="tableBody">
          <tr #element id="singleOrderWrapper" >
            <td>
              <div id="imageWrapper" class="row">
                <div>
                    <img src="{{item.link}}" alt="img">
                </div>
                <div id="name">
                    <p #name>{{item.info}}</p>
                </div>
              </div>
            </td>
           
            <td id="inputWrapper">
              <input id="input"  type="number" value="{{item.amount}}" #amount (click)="showConfirm(actions)" size="2" min="0" class="form-control" name="amount">
            <td #actions id="actions">
              <fa class="hvr-grow " [hidden]="!show" name="check"id="submit" (click)="getIt({position : i,name: item.info, id: item.id, amount: amount.value, piece: item.type}, amount)"></fa>
              <fa class="hvr-grow " name="times" id="delete" (click)="emptyItem(i, element)"></fa>
            </td>
          </tr>    
        </tbody>
    </table>
    <div id="tableActions">

        <button id="submitButton" class="btn btn-primary" type="submit" >Poruči</button>
      </div>
  </form>
  </div>
</div>
