<div id="menuWrapper">
    <div id="imageWrapper"><img id="baner" src="../../assets/capcap-jela-sa-rostilja-pljeskavica-img_7994 (1).jpg" alt="food"></div>
    <div id="heading">
        <h1>Gladni ste?</h1>
        <div id="menuLinkDirect"><a>Pogledajte meni</a></div>
        <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="dataModel" [config]="config" [options]="dropdownOptions"></ngx-select-dropdown>
    </div>
</div>
<div id="outletWrapper">
    <app-categories></app-categories>
</div>
